<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7Z6Hts8s1rUH6WBwTdooBIpp7M1Von4U</string>
	<key>GCM_SENDER_ID</key>
	<string>559186602722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woodyvillage.buzzerbeater.buzzerBeater</string>
	<key>PROJECT_ID</key>
	<string>buzzer-beater-9853c</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzer-beater-9853c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559186602722:ios:7ad087e27d02ac65ca0cbb</string>
</dict>
</plist>